.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: white;
}
.app-body {
  display: flex;
  background-color: rgb(214, 214, 214);
  margin-top: -50px;
  height: 90vh;
  width: 90vw;
}
